<h3 class="title-Bar-2">CALIFICACIÓN DEL SERVICIO</h3>

<table class="borUpDownLeftRigth" width="100%" rules="cols">
    <th width="33.33333333%">
        <table width="100%">
            <tr>
                <td>
                    <h3 class="titleContent">Tiempo de atención</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="divSmiles">
                        {{{calificacion_tiempo_atencion}}}
                    </div>
                </td>
            </tr>
        </table>
    </th>
    <th class="borLeftRight" width="33.33333333%">
        <table width="100%">
            <tr>
                <td>
                    <h3 class="titleContent">Presentación de técnico</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="divSmiles">
                        {{{calificacion_presentacion}}}
                    </div>
                </td>
            </tr>
           
        </table>
    </th>
    <th width="33.33333333%">
        <table width="100%">
            <tr>
                <td>
                    <h3 class="titleContent">Atención del técnico</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="divSmiles">
                        {{{calificacion_atencion}}}
                    </div>
                </td>
            </tr>
        </table>
    </th>
</table>