<h3 class="title-Bar-2">SIMCARD {{tipo}}</h3>
<table class="borUpDownLeftRigth" width="100%" rules="cols">
    {{#simcard}}
    <th width="33.33333333%">
        <table width="100%">
            <tr>
                <td>
                    <h3 class="titleContent">Simcard</h3>
                </td>
            </tr>

        </table>
    </th>
    <th class="borLeftRight" width="33.33333333%">
        <table width="100%">
            <tr>
                <td>
                    <h3 class="titleContent">Marca:</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="textContent">{{nombre}}</h3>
                </td>
            </tr>
        </table>
    </th>
    <th width="33.33333333%">
        <table width="100%">
            <tr>
                <td>
                    <h3 class="titleContent">Serial:</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="textContent">{{serial}}</h3>
                </td>
            </tr>
        </table>
    </th>
    {{/simcard}}
</table>